/* Footer.css */
.footer {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
    
  }
  
  .social-links li,
  .payment-partners li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links li:last-child,
  .payment-partners li:last-child {
    margin-right: 0;
  }
  
  .social-links li a {
    text-decoration:none;
    color: #333;
    cursor: pointer;
  }
  
  .payment-partners img {
    margin: 20px;
    height: 20px;
    width: 30px;
    
  }
  
  .copyright {
    width: 100%;
    text-align: center;
  }
  